.dropDownMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    background: #ffb6b6;
    border-radius: 10px;
}

.line {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.line:hover {
    border-radius: 5px;
    background: #fa7f7f;

}
