.sideSlide {
    border-radius: 30px;
}

.sideSlideBorder {
    box-shadow: 0 0 3px #E4E2E2;
    border: solid 1px #737373;
}

.sideSlideBorderHovered {
    box-shadow: 0 0 0 3px #737373;
    border: solid 1px #737373;
}

.sideSlideBorderSelected {
    box-shadow: 0 0 0 3px #2055FF;
    border: solid 1px #2055FF;
}

.container {
    width: 240px;
    height: 150px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #FFFFFF 5px;
}

.content {
    width: 220px;
    height: 130px;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
}
