.containerWithNumber {
    display: flex;
    gap: 10px;
}

.sideSlide {
    border-radius: 15px;
    cursor: grab;
}

.sideSlideBorder {
    box-shadow: 0 0 3px #E4E2E2;
    border: solid 1px #737373;
}

.sideSlideBorderHovered {
    box-shadow: 0 0 0 3px #737373;
    border: solid 1px #737373;
}

.sideSlideBorderSelected {
    box-shadow: 0 0 0 3px #2055FF;
    border: solid 1px #2055FF;
}

.container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    overflow: hidden;
}
