.dropDownMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    background: #FFB6B6;
    border-radius: 10px;
}

.line {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.line:hover {
    border-radius: 5px;
    background: #FA7F7F;
}
