.presentationNameInput {
    width: 300px;
    height: 50px;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #E4E2E2;
}

.presentationNameInput:target {
    border: 1px solid black;
}
