.toolMenu {
    display: flex;
    gap: 10px;
    background-color: #E4E2E2;
}

.shapeDropDown_hidden {
    position: absolute;
    visibility: hidden;
}

.shapeDropDown_visible {
    position: absolute;
    z-index: 3;
}

.inputColor {
    appearance: none;
    background-color: transparent;
    width: 37px;
    height: 37px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
