.toolMenu {
    display: flex;
    gap: 10px;
    background-color: #e4e2e2;
}

.shapeDropDown_hidden {
    position: absolute;
    visibility: hidden;
}

.shapeDropDown_visible {
    position: absolute;
    z-index: 3;
}
