.workSpace {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #e4e2e2;
    border-left: solid #000000 3px;
    border-top: solid #000000 3px;
}
