.button_withText {
    width: 100px;
    height: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.button_withoutText {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image {
    pointer-events: none;
}

.hidden {
    visibility: hidden;
    margin: 0;
}

.text {
    margin: 0;
}
