.object {
    position: absolute;
}

.selected {
    border: 4px solid #ff0000;
}

.nonSelected {
    border: none;
}

.quad {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
}

.text {
    resize: none;
    overflow: hidden;
}

.text:focus {
    outline: none;
}

.textBlocked {
    cursor: grab;
}

.textNotBlocked {
    cursor: text;
}
