.object {
    position: absolute;
}

.selected {
    border: 4px solid #FF0000;
}

.nonSelected {
    border: none;
}

.quad {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
}

.text {
    resize: none;
    position: absolute;
}

.text:focus {
    outline: none;
}
