.object {
    position: absolute;
    padding-top: 4px;
    padding-left: 4px;
}

.selected {
    border: 4px solid #FF0000;
    padding: 0;
}

.nonSelected {
    border: none;
}

.quad {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
}

.text {
    resize: none;
    overflow: hidden;
}

.text:focus {
    outline: none;
}

.textBlocked {
    cursor: grab;
}

.textNotBlocked {
    cursor: text;
}

.textSelected {
    cursor: text;
}

.textNonSelected {
    user-select: none;
    cursor: default;
}
