.toolBar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hidden {
    display: none;
}

.button {
    padding: 2px 10px;
    border: 0;
    background-color: #E4E2E2;
    font-size: 22px;
    color: #444746;
    cursor: pointer;
}

.label {
    cursor: pointer;
}
