.topPanel {
    width: 100vw;
    padding: 50px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #e4e2e2;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}
