.toolMenu {
    position: relative;
    width: 300px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #e4e2e2;
}

.shapeDropDown_hidden {
    position: absolute;
    visibility: hidden;
}

.shapeDropDown_visible {
    position: absolute;
    left: 140px;
    top: 35px;
}

.inputColor {
    width: 30px;
    height: 30px;
    padding: 0 2px;
    appearance: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
    cursor: pointer;
}
