.toolMenu {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #E4E2E2;
}

.shapeDropDown_hidden {
    position: absolute;
    visibility: hidden;
}

.shapeDropDown_visible {
    position: absolute;
    left: 330px;
    top: 50px;
}

.inputColor {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    appearance: none;
    inline-size: 0;
    block-size: 0;
    box-sizing: unset;
}

.bgColor {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF2FA;
    color: #444746;
    font-size: 20px;
}

.bgColorLabel {
    width: 45px;
    background-color: #EDF2FA;
    text-align: center;
    cursor: pointer;
}
