.editInputButton {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontFamily {
    width: 195px;
    height: 25px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
    outline: none;
}

.fontFamily:focus {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #000000;
}

.fontSize {
    width: 100px;
    height: 25px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
    outline: none;
}

.fontSize:focus {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #000000;
}
