.body {
    margin: 0;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
