.popUpBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 60%);
    left: 0;
    top: 0;
    z-index: 1;
}

.popUpBlock {
    padding: 0 58px 58px;
    width: 73.7%;
    height: 74.17%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 40px;
    background: #D9D9D9;
}

.popUpHeader {
    margin-top: 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popUpHeaderCloseBtn {
    cursor: pointer;
}

.popupToolBar {
    margin: 26px 0 17px 52px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.popupToolBarChoice {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popupToolBarChoiceSelected {
    background: none;
    border: none;
    padding: 0;
    cursor: default;
    color: #0B57D0;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popUpContent {
    margin-top: 58px;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.popUpContentImageLabel {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: #C0C0C0;
    cursor: pointer;
}

.hidden {
    display: none;
}
