.rotationInput {
    width: 60px;
    height: 45px;
    text-align: center;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    border: 0;
    outline: none;
    background-color: #EDF2FA;
}

.rotationInput:focus {
    box-sizing: border-box;
    border: 0;
}