.presentationNameInput {
    width: 280px;
    height: 48px;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 22px;
    color: #444746;
    border: 3px solid #444746;
    background-color: #e4e2e2;
}

.presentationNameInput:focus {
    font-size: 22px;
    margin: 0;
    box-shadow: none;
    border: 3px solid #444746;
    outline: none;
}
